.dice-images{
  width: 70px;
  height: 70px;
} 

.Card{
  flex: 1;
}

.Card:hover{
  cursor: pointer;
}

.Card img{
  width: 100px;
  height: 100px;
}

.CardBoard{
  height: 450px;
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}