body{
  /* font-family: 'Blackstone-Hand'; */
  /* font-family: 'pirateyFont'; */
  font-family: 'jsl-ancient-normal';
  padding: 20px;
}

.result{
  width: 400px;
  height: 350px;
  font-size: large;
}

.Card{
  flex: 1;
  user-select: none;
  box-sizing: border-box;
  transition: 0.6s;
  position: relative;
}

.Card:hover{
  cursor: pointer;
}

.Card img{
  width: 100px;
  height: 100px;
}

.CardBoard{
  height: 450px;
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}