body{
  /* font-family: 'Blackstone-Hand'; */
  /* font-family: 'pirateyFont'; */
  font-family: 'jsl-ancient-normal';
  background-color: blanchedalmond;
}

.dice-images{
  width: 70px;
  height: 70px;
} 

.navbar{
  margin: 20px;
  color: wheat;
  font-size: 20px;
  font-family: 'pirateyFont';
  list-style-type: none;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar > li{
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

.navbar-link{
  color: darkslategrey;
  text-decoration: none;
}

.navbar-link:visited{
  color: midnightblue;
}

.navbar-link:hover{
  text-decoration: underline;
  color: darkblue;
}


.result{
  width: 400px;
  height: 350px;
  font-size: large;
}

.Card{
  flex: 1;
  user-select: none;
  box-sizing: border-box;
  transition: 0.6s;
  position: relative;
}

.Card:hover{
  cursor: pointer;
}

.Card img{
  width: 100px;
  height: 100px;
}

.CardBoard{
  height: 450px;
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}