body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'pirateyFont';
  src: local('pirateFont'), url(./fonts/pirateyFont.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Blackstone-Hand';
  src: local('Blackstone-Hand'), url(./fonts/Blackstone-Hand.ttf) format('truetype');
  /* font-weight: normal; */
}

@font-face {
  font-family: 'jsl-ancient-normal';
  src: local('jsl-ancient-normal'), url(./fonts/jsl-ancient.normal.ttf) format('truetype');
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
