.CardDisplay {
    height: 500px;
    display: flex;
    justify-content: center;
    background-image: url("../images/cardtable.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    border: 10px solid burlywood;
    border-radius: 20px;
    box-shadow: 4px 4px #555555af;
}

