body{
    background-image: url("../images/background.jpg");
    background-size: cover; 
}

#game-display{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 30% auto;
    grid-template-rows: 45% 20% 20% 15%;
}

.player-name-form{
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(247, 241, 223);
    background-color: rgb(34, 38, 58, 0.753);
    color: rgb(247, 241, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score-wraps{
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(247, 241, 223);
    background-color: rgb(34, 38, 58, 0.753);
    color: rgb(209, 200, 171);
    display: flex;
    justify-content: center;
    align-items: center;
}

#dice-display{
    border-width: 10px;
    border-style: solid;
    border-color: rgb(247, 241, 223);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/wood_floor.jpg");
    background-color: aquamarine;
    background-size: cover;
    border-radius: 20px;
}

.dice-images{
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: rgb(247, 241, 223);

}

#results-link-wrap{
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(247, 241, 223);
    background-color: rgb(34, 38, 58, 0.753);
    color: rgb(247, 241, 223);
    display: flex;
    justify-content: center;
    align-items: center;
}

#results-link{
    padding: 5px;
    color: rgb(247, 241, 223);
    font-family: 'jsl-ancient-normal';
    font-size: larger;
    font-weight:bold;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

#name{
    background-color: rgb(247, 241, 223);
    height: 30px;
    border-radius: 10px;
    font-family: 'jsl-ancient-normal';
    font-size: larger;
    font-weight:bold;
}

.buttons{
    margin:5px;
    border-radius: 10px;
    background-color: rgb(247, 241, 223);
    font-family: 'jsl-ancient-normal';
    font-size: larger;
    font-weight:bold;
    color: rgb(34, 38, 58);
}

.buttons:hover{
    background-color: rgb(65, 223, 226);
    color: rgb(34, 38, 58);   
}

.labels{
    margin: 10px;
    font-weight: bold;
    font-size: large;
}


