.score-table {
    border: 5px solid burlywood;
    border-radius: 4px;
    background-color: blanchedalmond;
    font-size: 30px;
    box-shadow: 4px 4px #555555;
    text-align: center;
}

.score-table > li {
    margin: 10px;
    color: rgb(102, 12, 12)

}