.score-table {
    border: 5px solid burlywood;
    border-radius: 4px;
    background-color: blanchedalmond;
    font-size: 30px;
    box-shadow: 4px 4px #5555af;
    text-align: center;
}

#score{
    margin: 10px;
    color: rgb(102, 12, 12)
}

.ordered-list{
    margin:0;
}

h5 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 45px;
    color: rgb(102, 12, 12)
}