.CardBoard {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

#start-game {
    border-top: 1px solid #deedf7;
    background: rgb(41,37,36);
    background: linear-gradient(90deg, rgba(41,37,36,1) 0%, rgba(116,81,48,1) 48%, rgba(20,20,20,1) 100% );
    padding: 11.5px 23px;
    border-radius: 9px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 19px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

#start-game:hover {
    border-top-color: #2b2618;
    background: #2b2618;
    color: #ccc;
}

#start-game:active {
    border-top-color: #4f2a0e;
    background: #4f2a0e;
}

#end-game {
    border-top: 1px solid #deedf7;
    background: rgb(41,37,36);
    background: linear-gradient(90deg, rgba(41,37,36,1) 0%, rgba(116,81,48,1) 48%, rgba(20,20,20,1) 100% );
    padding: 11.5px 23px;
    border-radius: 9px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 19px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

#end-game:hover {
    border-top-color: #2b2618;
    background: #2b2618;
    color: #ccc;
}

#end-game:active {
    border-top-color: #4f2a0e;
    background: #4f2a0e;
}

.timer-font {
    font-size: 32px;
    color:rgb(254, 254, 254);
    text-align: center;
    background-color: saddlebrown;
    background: linear-gradient(90deg, rgba(41,37,36,1) 0%, rgba(116,81,48,1) 48%, rgba(20,20,20,1) 100% );
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.results {
    font-size: 30px;
    height: 300px;
    width: 300px;
    background-color: rgb(238, 198, 145);
    border: 4px solid burlywood;
    border-radius: 4px;
}

