.Card{
    flex: 1;
    user-select: none;
    box-sizing: border-box;
    transition: 0.6s;
    position: relative;
  }
  
  .Card:hover{
    cursor: pointer;
  }
  
  .Card img{
    width: 100px;
    height: 100px;
  }