.navbar{
    padding: 20px;
    margin-bottom: 10px;
    font-family: 'pirateyFont';
    list-style-type: none;
    justify-content: space-around;
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(247, 241, 223);
    background-color: rgba(34, 38, 58, 0.753);
    color: rgb(247, 241, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px #555555af;
  }
  
  .navbar > li{
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
  }
  
  .navbar-link{
    padding: 2px;
    background-color: rgba(247, 241, 223, 0.904);
    color: rgb(47,61,79);
    text-decoration: none;
    font-size: 23px;
    border: 3px solid burlywood;
    border-radius: 4px;
    margin: 3px;
    box-shadow: 2px 4px rgb(31, 31, 31);
    transition: all 0.3s ease;
  }
  
  .navbar-link:visited{
    color: midnightblue;
  }
  
  .navbar-link:hover{
    text-decoration: underline;
    color: rgb(43, 43, 82);
    background-color: rgb(241, 229, 221);
    box-shadow: 2px 4px #3f3f3f;
  }

  h6{
    padding-left: 55px;
    margin: 0;
    font-size: 32pt;
  }